// -----------------------------------------------------------------------------
// Alpha channel
// -----------------------------------------------------------------------------
// @include alpha-attribute('background-color', rgba(black, 0.5), white);
@mixin alpha-attribute($attribute, $color, $background) {
    $percent: alpha($color) * 100%;
    $opaque: opacify($color, 1);
    $solid-color: mix($opaque, $background, $percent);
    #{$attribute}: $solid-color;
    #{$attribute}: $color;
}
// -----------------------------------------------------------------------------
// Buttons Color
// -----------------------------------------------------------------------------
@mixin btn-color(
    $color,
    $background,
    $border,
    $color-hover,
    $background-hover,
    $border-hover,
    $color-focus,
    $background-focus,
    $border-focus,
    $color-active,
    $background-active,
    $border-active,
    $color-disabled,
    $background-disabled,
    $border-disabled
) {
    color: $color;
    background-color: $background;
    border-color: $border;
    &:hover {
        color: $color-hover;
        background-color: $background-hover;
        border-color: $border-hover;
    }
    &:focus {
        color: $color-focus;
        background-color: $background-focus;
        border-color: $border-focus;
        box-shadow: $btn-box-shadow;
    }
    &:active {
        color: $color-active;
        background-color: $background-active;
        border-color: $border-active;
    }
    &.disabled,
    &:disabled {
        box-shadow: none;
        color: $color-disabled;
        background-color: $background-disabled;
        border-color: $border-disabled;
        opacity: $btn-opacity--disabled;
    }
}
// -----------------------------------------------------------------------------
// Tags color
// -----------------------------------------------------------------------------
@mixin tag-color($tag-bg, $tag-color, $tag-box-shadow, $tag-icon-color) {
    background-color: $tag-bg;
    color: $tag-color;
    & .tag__icon {
        color: $tag-icon-color;
    }
    &:focus {
        box-shadow: $tag-box-shadow;
    }
}
// -----------------------------------------------------------------------------
// Tabs box-shadow
// -----------------------------------------------------------------------------
@mixin tab-bar($tab-bar-height, $tab-bar-color) {
    box-shadow: inset 0 $tab-bar-height 0 0 $tab-bar-color;
}
// -----------------------------------------------------------------------------
// Alerts, Notifications
// -----------------------------------------------------------------------------
@mixin alert-icon-color($alert-color) {
    color: $alert-color;
}
@mixin alert-state($alert-bg, $alert-border, $alert-color) {
    background-color: $alert-bg;
    border-color: $alert-border;
    color: $alert-color;
}
// -----------------------------------------------------------------------------
// Contextual Notifications Color
// -----------------------------------------------------------------------------
@mixin context-border-color($context-border-color) {
    &.context--top {
        .context__arrow::before {
            border-top-color: $context-border-color;
        }
    }
    &.context--right {
        .context__arrow::before {
            border-right-color: $context-border-color;
        }
        .context__arrow::after {
            border-right-color: $context-border-color;
        }
    }
    &.context--bottom {
        .context__arrow::before {
            border-bottom-color: $context-border-color;
        }
    }
    &.context--left {
        .context__arrow::before {
            border-left-color: $context-border-color;
        }
    }
}
// -----------------------------------------------------------------------------
// Progress Bar
// -----------------------------------------------------------------------------
@mixin progressbar-color($color) {
    .progressbar__fill {
        background-color: $color;
    }
}
