// -----------------------------------------------------------------------------
// Palette - Core Gray
// -----------------------------------------------------------------------------
$black: #000;
$color-gray--dark1: #39393b;
$color-gray--dark2: #58585b;
$color-gray--dark3: #626469;
$color-gray--dark4: #7f7f86;
$color-gray--dark5: #18191d;
$color-gray--medium1: #737373;
$color-gray--medium3: #9e9ea2;
$color-gray--medium4: #b6b9bb;
$color-gray--light1: #c6c7ca;
$color-gray--light2: #dfdfdf;
$color-gray--light4: #f2f2f2;
$color-gray--light5: #fbfbfb;
$white: #fff;
// -----------------------------------------------------------------------------
// Palette - Core Blue
// -----------------------------------------------------------------------------
$color-blue1: #049fd9;
$color-blue2: #00bced;
$color-blue3: #64bbe3;
$color-blue4: #6a7890;
$color-blue5: #005073;
$color-blue6: #2b5592;
// -----------------------------------------------------------------------------
// Palette - Status Red - Wash/Burnt
// -----------------------------------------------------------------------------
$color-status--red: #cf2030;
$color-status--red--wash1: #e6505d;
$color-status--red--wash2: #ff8c96;
$color-status--red--wash3: #ffd9dc;
$color-status--red--burnt1: #b5000f;
$color-status--red--burnt2: #9c000d;
$color-status--red--burnt3: #82000b;
$color-status--red--burnt4: #3e0005;
// -----------------------------------------------------------------------------
// Palette - Status Blue - Wash/Burnt
// -----------------------------------------------------------------------------
$color-status--blue: $color-blue3;
$color-status--blue--wash1: #81cdf0;
$color-status--blue--wash2: #a3e2ff;
$color-status--blue--wash3: #d6f2ff;
$color-status--blue--burnt1: #4095bd;
$color-status--blue--burnt2: #247296;
$color-status--blue--burnt3: #105270;
$color-status--blue--burnt4: #092d3d;
// -----------------------------------------------------------------------------
// Palette - Status Green - Wash/Burnt
// -----------------------------------------------------------------------------
$color-status--green: #6cc04a;
$color-status--green--wash1: #93e872;
$color-status--green--wash2: #b4ff96;
$color-status--green--wash3: #e2ffd6;
$color-status--green--burnt1: #4b992c;
$color-status--green--burnt2: #307316;
$color-status--green--burnt3: #1b4f0f;
$color-status--green--burnt4: #103408;
// -----------------------------------------------------------------------------
// Palette - Status Yellow - Wash/Burnt
// -----------------------------------------------------------------------------
$color-status--yellow: #ffcc00;
$color-status--yellow--wash1: #ffde4c;
$color-status--yellow--wash2: #ffec99;
$color-status--yellow--wash3: #fff5cc;
$color-status--yellow--burnt1: #d9b100;
$color-status--yellow--burnt2: #b39200;
$color-status--yellow--burnt3: #8c7300;
$color-status--yellow--burnt4: #463a00;
// -----------------------------------------------------------------------------
// Palette - Status Orange - Wash/Burnt
// -----------------------------------------------------------------------------
$color-status--orange: #ff7300;
$color-status--orange--wash1: #ff9d4c;
$color-status--orange--wash2: #ffc799;
$color-status--orange--wash3: #ffead9;
$color-status--orange--burnt1: #d96200;
$color-status--orange--burnt2: #b35000;
$color-status--orange--burnt3: #8c3f00;
$color-status--orange--burnt4: #4a2508;
// -----------------------------------------------------------------------------
// Palette - Categorical Color - Cisco Blue - Wash/Burnt
// -----------------------------------------------------------------------------
$color-category--blue: $color-blue1;
$color-category--blue--wash1: #3bcaff;
$color-category--blue--wash2: #9ee5ff;
$color-category--blue--wash3: #ebfaff;
$color-category--blue--burnt1: #0083b3;
$color-category--blue--burnt2: #00678c;
$color-category--blue--burnt3: #004b66;
// -----------------------------------------------------------------------------
// Palette - Categorical Color - Sage Green - Wash/Burnt
// -----------------------------------------------------------------------------
$color-category--sage: #abc233;
$color-category--sage--wash1: #d1e85f;
$color-category--sage--wash2: #eeff9c;
$color-category--sage--wash3: #f9ffdb;
$color-category--sage--burnt1: #869c19;
$color-category--sage--burnt2: #637507;
$color-category--sage--burnt3: #424f00;
// -----------------------------------------------------------------------------
// Palette - Categorical Color - Turquoise - Wash/Burnt
// -----------------------------------------------------------------------------
$color-category--turquoise: #14a792;
$color-category--turquoise--wash1: #37ccb6;
$color-category--turquoise--wash2: #72f2df;
$color-category--turquoise--wash3: #d1fff8;
$color-category--turquoise--burnt1: #03806d;
$color-category--turquoise--burnt2: #00594c;
$color-category--turquoise--burnt3: #00332b;
// -----------------------------------------------------------------------------
// Palette - Categorical Color - Purple - Wash/Burnt
// -----------------------------------------------------------------------------
$color-category--purple: #9a4b9d;
$color-category--purple--wash1: #c47dc7;
$color-category--purple--wash2: #ecc5ed;
$color-category--purple--wash3: #feebff;
$color-category--purple--burnt1: #752e78;
$color-category--purple--burnt2: #501752;
$color-category--purple--burnt3: #2a082b;
// -----------------------------------------------------------------------------
// Palette - Categorical Color - Indigo Blue - Wash/Burnt
// -----------------------------------------------------------------------------
$color-category--indigo: #005073;
$color-category--indigo--wash1: #217ea6;
$color-category--indigo--wash2: #57b2d9;
$color-category--indigo--wash3: #99e0ff;
$color-category--indigo--wash4: #ccf0ff;
$color-category--indigo--wash5: #f2fbff;
$color-category--indigo--burnt1: #00364d;
// -----------------------------------------------------------------------------
// Palette - Categorical Color - Orange - Wash/Burnt
// -----------------------------------------------------------------------------
$color-category--orange: #fbab18;
$color-category--orange--wash1: #ffc966;
$color-category--orange--wash2: #ffe4b2;
$color-category--orange--wash3: #fff2d9;
$color-category--orange--burnt1: #d48a00;
$color-category--orange--burnt2: #99690f;
$color-category--orange--burnt3: #734b00;
// -----------------------------------------------------------------------------
// Palette - Categorical Color - Coral - Wash/Burnt
// -----------------------------------------------------------------------------
$color-category--coral: #ff6f61;
$color-category--coral--wash1: #ff9187;
$color-category--coral--wash2: #ffc0ba;
$color-category--coral--wash3: #ffe8e5;
$color-category--coral--burnt1: #d94a3d;
$color-category--coral--burnt2: #b32c20;
$color-category--coral--burnt3: #8c160b;
// -----------------------------------------------------------------------------
// Palette - Categorical Color - Turquoise - Wash/Burnt
// -----------------------------------------------------------------------------
$color-category--coral: #ff6f61;
$color-category--coral--wash1: #ff9187;
$color-category--coral--wash2: #ffc0ba;
$color-category--coral--wash3: #ffe8e5;
$color-category--coral--burnt1: #d94a3d;
$color-category--coral--burnt2: #b32c20;
$color-category--coral--burnt3: #8c160b;
// -----------------------------------------------------------------------------
// Palette - Categorical Color - Grape - Wash/Burnt
// -----------------------------------------------------------------------------
$color-category--grape: #5674b9;
$color-category--grape--wash1: #89a3e0;
$color-category--grape--wash2: #cfddff;
$color-category--grape--wash3: #e5eeff;
$color-category--grape--burnt1: #355294;
$color-category--grape--burnt2: #1d356e;
$color-category--grape--burnt3: #0b1d47;
// -----------------------------------------------------------------------------
// Palette - Categorical Color - Fern - Wash/Burnt
// -----------------------------------------------------------------------------
$color-category--fern: #4e8f00;
$color-category--fern--wash1: #70b51b;
$color-category--fern--wash2: #96db42;
$color-category--fern--wash3: #c0ff73;
$color-category--fern--burnt1: #3a6900;
$color-category--fern--burnt2: #244200;
$color-category--fern--burnt3: #070d00;
// -----------------------------------------------------------------------------
// Palette - Categorical Color - Teal - Wash/Burnt
// -----------------------------------------------------------------------------
$color-category--teal: #00acc1;
$color-category--teal--wash1: #23d1e8;
$color-category--teal--wash2: #8cf2ff;
$color-category--teal--wash3: #d9fbff;
$color-category--teal--burnt1: #00899c;
$color-category--teal--burnt2: #006875;
$color-category--teal--burnt3: #00464f;
// -----------------------------------------------------------------------------
// Palette - Categorical Color - Berry - Wash/Burnt
// -----------------------------------------------------------------------------
$color-category--berry: #bb4c8d;
$color-category--berry--wash1: #e07eb7;
$color-category--berry--wash2: #ffc2e5;
$color-category--berry--wash3: #ffedf8;
$color-category--berry--burnt1: #942e69;
$color-category--berry--burnt2: #6e174a;
$color-category--berry--burnt3: #47082d;
// -----------------------------------------------------------------------------
// Palette - Categorical Color - Dark Blue - Wash/Burnt
// -----------------------------------------------------------------------------
$color-category--dark-blue: #2b5592;
$color-category--dark-blue--wash1: #517ab8;
$color-category--dark-blue--wash2: #83a7de;
$color-category--dark-blue--wash3: #bdd7ff;
$color-category--dark-blue--wash4: #e5f0ff;
$color-category--dark-blue--burnt1: #14376b;
$color-category--dark-blue--burnt2: #061f45;
// -----------------------------------------------------------------------------
// Palette - Categorical Color - Magenta - Wash/Burnt
// -----------------------------------------------------------------------------
$color-category--magenta: #ec407a;
$color-category--magenta--wash1: #ff6b9c;
$color-category--magenta--wash2: #ffb2cc;
$color-category--magenta--wash3: #feebff;
$color-category--magenta--burnt1: #c72259;
$color-category--magenta--burnt2: #a10b3d;
$color-category--magenta--burnt3: #7a0029;
// -----------------------------------------------------------------------------
// Palette - Categorical Color - Dark Cool Gray - Wash/Burnt
// -----------------------------------------------------------------------------
$color-category--dark-cool-gray: #6a7890;
$color-category--dark-cool-gray--wash1: #8d97a8;
$color-category--dark-cool-gray--wash2: #b6bac2;
$color-category--dark-cool-gray--wash3: #d9dadb;
$color-category--dark-cool-gray--burnt1: #46556e;
$color-category--dark-cool-gray--burnt2: #273347;
$color-category--dark-cool-gray--burnt3: #0f1521;
// -----------------------------------------------------------------------------
// Palette - Dusk Theme
// -----------------------------------------------------------------------------
$color-blue7: #34455c;
$color-blue8: #29384b;
$color-blue9: #1b2638;
$color-blue10: #17202b;
$color-blue11: #253040;
// -----------------------------------------------------------------------------
// Palette - Cisco Secure
// -----------------------------------------------------------------------------
$color-secure--blue1: #0d274d;
$color-secure--blue2: #1e4471;
$color-secure--green: #6abf4b;
