.divider {
    position: relative;
    border-top: $base-border-width solid $divider--color-default;
    margin: $divider-margin;
    &--color-light {
        border-color: $divider--color-light;
    }
    &--color-lighter {
        border-color: $divider--color-lighter;
    }
    // Deprecated: Keeping this typo until the next major version bump, 2.0.0
    &--color-ligher {
        border-color: $divider--color-lighter;
    }
}
