.scrollbar {
    /* Track */
    &::-webkit-scrollbar-track {
        background: $scrollbar-track-bg;
        border: $base-border-width solid $scrollbar-track-border-color;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $scrollbar-thumb-bg;
        border: 4px solid transparent;
        border-radius: $scrollbar-thumb-border-radius;
        background-clip: content-box;
    }
    &--direction-horizontal {
        overflow-x: scroll;
        white-space: nowrap;
        &::-webkit-scrollbar {
            height: $scrollbar-track-height;
        }
    }
    &--direction-vertical {
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: $scrollbar-track-width;
        }
    }
}
