// -----------------------------------------------------------------------------
// Base Colors
// -----------------------------------------------------------------------------
$base-color: $color-gray--light4; // Text (#f2f2f2);
$base-inverse-color: $color-gray--light4; // Inverse Text (#f2f2f2);
$base-brand-color: $color-category--blue--wash1; // Brand, Logo (#3bcaff);
$base-bg: $color-gray--dark5; // Component bg (#18191d);
$base-pg-bg: $color-gray--dark5; // Page bg (#18191d);
$base-stroke-color: rgba($color-gray--medium3, $alpha-7); // (#9e9ea2, 70%);
$base-icon-color: $color-gray--light2; // Icons (#dfdfdf);
$base-color--hover: $color-category--blue--burnt1; // Status Hover (#0083b3);
$base-color--active: $color-blue1; // Status Active/Pressed (#049fd9);
$base-color--selected: $color-blue1; // Status On/Selected/Checked (#049fd9);
$base-box-shadow: 0 0 2px 2px rgba(59, 202, 255, 0.4); // #3bcaff
// -----------------------------------------------------------------------------
// General Colors
// -----------------------------------------------------------------------------
$control-text-color: $color-gray--light2; // Alternative Text (#dfdfdf);
$control-fill-color: $color-blue10; // Alternative bg (#17202b);
$control-stroke-color: rgba($color-gray--light2, $alpha-2); // (#dfdfdf, 20%);
$control-stroke-color--hover: $color-gray--medium4; // Border Hover State (#b6b9bb);
$control-stroke-color--disabled: rgba(
    $color-gray--light1,
    $alpha-3
); // Border Disabled (#c6c7ca, 30%);
$control-fill-color--disabled: rgba(
    $color-gray--light2,
    $alpha-3
); // Disabled bg (#dfdfdf, 30%);
// -----------------------------------------------------------------------------
// Code blocks
// -----------------------------------------------------------------------------
$code-color: $color-status--green--burnt1;
$code-bg: $color-blue10; // #17202b;
// -----------------------------------------------------------------------------
// Alert Hover colors
// -----------------------------------------------------------------------------
$color-warning--state-hover: $color-status--orange--wash1;
$color-error--state-hover: $color-status--red--wash1;
// -----------------------------------------------------------------------------
// Header
// -----------------------------------------------------------------------------
$header-bg-color: $color-blue11; // #253040
$header__logo-color: $color-category--blue--wash1; // #3bcaff
$header-logo-secure-network-analytics-bg: url('/secure-icons/dark/svg/secure-network-analytics-dark.svg');
$header-logo-any-connect-secure-mobility-client-bg: url('/secure-icons/dark/svg/any-connect-secure-mobility-client-dark.svg');
$header-logo-cisco-secure-email-cloud-bg: url('/secure-icons/dark/svg/cisco-secure-email-cloud-dark.svg');
$header-logo-cisco-umbrella-bg: url('/secure-icons/dark/svg/cisco-umbrella-dark.svg');
$header-logo-cloudlock-bg: url('/secure-icons/dark/svg/cloudlock-dark.svg');
$header-logo-email-and-web-manager-bg: url('/secure-icons/dark/svg/email-and-web-manager-dark.svg');
$header-logo-email-bg: url('/secure-icons/dark/svg/email-dark.svg');
$header-logo-endpoint-bg: url('/secure-icons/dark/svg/endpoint-dark.svg');
$header-logo-firewall-bg: url('/secure-icons/dark/svg/firewall-dark.svg');
$header-logo-ise-bg: url('/secure-icons/dark/svg/ise-dark.svg');
$header-logo-secure-cloud-analytics-bg: url('/secure-icons/dark/svg/secure-cloud-analytics-dark.svg');
$header-logo-secure-malware-analytics-bg: url('/secure-icons/dark/svg/secure-malware-analytics-dark.svg');
$header-logo-secure-network-analytics-bg: url('/secure-icons/dark/svg/secure-network-analytics-dark.svg');
$header-logo-security-analytics-and-logging-bg: url('/secure-icons/dark/svg/security-analytics-and-logging-dark.svg');
$header-logo-web-appliance-bg: url('/secure-icons/dark/svg/web-appliance-dark.svg');
$header-logo-workload-bg: url('/secure-icons/dark/svg/workload-dark.svg');
$secure-header-secure-logo-bg: url('/secure-icons/dark/svg/cisco-secure-logo.svg');
// -----------------------------------------------------------------------------
// Footer
// -----------------------------------------------------------------------------
$footer-color: $control-text-color;
$footer-border-color: rgba($color-gray--light4, $alpha-2); // (#f2f2f2, 20%);
// -----------------------------------------------------------------------------
// Alerts / Page Level Notifications
// -----------------------------------------------------------------------------
// Information
$alert-bg: $color-status--blue--burnt4; // #092d3d;
$alert-border-color: $color-status--blue--burnt3; // #105270;
// Success
$alert-success-bg: $color-status--green--burnt4; // #103408;
$alert-success-border-color: $color-status--green--burnt3; // #1b4f0f;
// Warning
$alert-warning-bg: $color-status--orange--burnt4; // #4a2508;
$alert-warning-border-color: $color-status--orange--burnt3; // #8c3f00;
// Danger / Error
$alert-danger-bg: $color-status--red--burnt4; // #3e0005;
$alert-danger-border-color: $color-status--red--burnt3; // #82000b;
// -----------------------------------------------------------------------------
// Accordion
// -----------------------------------------------------------------------------
$accordion-header-bg-color: rgba($color-blue4, $alpha-3);
// (#6a7890, 30%);
$accordion-header-collapsed-bg-color: $color-blue10;
$accordion-body-bg: transparent;
// -----------------------------------------------------------------------------
// Badges
// -----------------------------------------------------------------------------
$badge-border-color: transparent;
// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------
// Primary Button
$btn-box-shadow: 0px 0px 2px 1px $color-category--blue--wash1; // #3bcaff;
$btn-primary-bg: $color-category--blue--burnt2; // #00678c;
$btn-primary-border: $color-category--blue--burnt2; // #00678c;
$btn-primary-bg--hover: $color-blue5; // #005073;
$btn-primary-border--hover: $color-blue5; // #005073;
$btn-primary-bg--active: $color-blue5; // #005073;
$btn-primary-border--active: $color-blue5; // #005073;
$btn-primary-bg--focus: $color-category--blue--burnt2; // #00678c;
$btn-primary-border--focus: $color-category--blue--burnt2; // #00678c;
$btn-primary-color--disabled: $color-gray--light4; // #f2f2f2;
$btn-primary-bg--disabled: $color-category--indigo--burnt1; // #00364d;
$btn-primary-border--disabled: $color-category--indigo--burnt1; //#00364d;
$btn-opacity--disabled: 0.66;

// Secondary Button
$btn-secondary-color: $color-category--blue--wash1; // 3bcaff;
$btn-secondary-border: $color-category--blue--burnt2; // #00678c;
$btn-secondary-color--hover: $color-category--blue--wash1; // #3bcaff;
$btn-secondary-border--hover: $color-blue5; // #005073;
$btn-secondary-bg--hover: $color-status--blue--burnt4; // #092d3d;
$btn-secondary-color--active: $color-category--blue--wash1; // 3bcaff;
$btn-secondary-bg--active: $color-status--blue--burnt4; // #092d3d;
$btn-secondary-border--active: $color-blue5; // #005073;
$btn-secondary-color--focus: $color-category--blue--wash1; // #3bcaff;
$btn-secondary-border--focus: $color-category--blue--burnt2; // #00678c;
$btn-secondary-color--disabled: $color-category--blue--wash1; // 3bcaff;
$btn-secondary-border--disabled: $color-blue5; // #005073;
$btn-secondary-opacity--disabled: $alpha-5;

// Tertiary Button
$btn-tertiary-color: $color-category--blue--wash1; // 3bcaff;
$btn-tertiary-color--hover: $color-category--blue--wash1; // #3bcaff;
$btn-tertiary-bg--hover: $color-status--blue--burnt4; // #092d3d;
$btn-tertiary-color--active: $color-category--blue--wash1; // #3bcaff;
$btn-tertiary-bg--active: $color-status--blue--burnt4; // #092d3d;
$btn-tertiary-color--focus: $color-category--blue--wash1; // #3bcaff;
$btn-tertiary-color--disabled: $color-category--blue--wash1; // #3bcaff;
$btn-tertiary-opacity--disabled: $alpha-5;

// Tertiary Alternative Icon Button
$btn-tertiary-icon-bg: $color-status--blue--burnt4; // #092d3d;
$btn-tertiary-icon-color: $base-icon-color; // #dfdfdf;
$btn-tertiary-icon-color--active: $color-category--blue--wash1; // #3bcaff;
$btn-tertiary-icon-bg--disabled: transparent;
$btn-tertiary-alt-opacity--disabled: $alpha-5;
// -----------------------------------------------------------------------------
// Buttons Group
// -----------------------------------------------------------------------------
$btn-group-color: $color-gray--light4; // #f2f2f2;
// -----------------------------------------------------------------------------
// Button Card
// -----------------------------------------------------------------------------
$btn-card-body-color: $color-gray--light1; // #c6c7ca;
$btn-card-body-color--selected: $color-gray--light1; // #c6c7ca;
$btn-card-box-shadow--selected: 0 0 2px 2px rgba(4, 159, 217, 0.4),
    inset 0 -5px 0 0 $base-color--selected; // #049fd9, #049fd9;
$btn-card-border-color--disabled: rgba(
    $color-gray--medium3,
    $alpha-5
); // (#9e9ea2, 50%);
$btn-card-title-color--disabled: rgba(
    $color-gray--light4,
    $alpha-4
); // (#f2f2f2, 40%);
$btn-card-body-color--disabled: rgba(
    $color-gray--light1,
    $alpha-4
); // (#c6c7ca, 40%);
// -----------------------------------------------------------------------------
// Carousel
// -----------------------------------------------------------------------------
$carousel-dot-color: $color-gray--light2; //#dfdfdf;
$carousel-dot-color-selected: $color-blue1; // #049fd9;
// -----------------------------------------------------------------------------
// Checkboxes
// -----------------------------------------------------------------------------
$checkbox-box-color--selected: $color-category--blue--burnt1; // #0083b3;
$checkbox-box-color--active: $color-blue1; // #049fd9;
$checkbox-box-color--disabled: rgba($color-blue4, $alpha-3);
// (#6a7890, 30%);
$checkbox-box-border-color--disabled: $control-stroke-color--disabled; // (#c6c7ca, 30%);
$checkbox-checkmark-color--disabled: $control-stroke-color--disabled; // (#c6c7ca, 30%);
$checkbox-label-color--disabled: rgba(
    $color-gray--light4,
    $alpha-4
); // (#f2f2f2, 40%);
// -----------------------------------------------------------------------------
// Contextual Menu
// -----------------------------------------------------------------------------
$context-menu-li-color-disabled: rgba(
    $color-gray--light4,
    $alpha-4
); // (#f2f2f2, 40%);
// -----------------------------------------------------------------------------
// Date Picker / Calendar
// -----------------------------------------------------------------------------
$date-picker-header-border-color: rgba(
    $color-gray--medium3,
    $alpha-3
); // (#9e9ea2, 30%);
$date-picker-range-bg: rgba($color-gray--light4, $alpha-2); // (#f2f2f2, 20%);
// -----------------------------------------------------------------------------
// Divider
// -----------------------------------------------------------------------------
$divider--color-default: rgba($color-gray--light2, $alpha-5); // (#dfdfdf, 50%);
$divider--color-light: rgba($color-gray--light2, $alpha-3); // (#dfdfdf, 30%);
$divider--color-lighter: rgba($color-gray--light2, $alpha-15);
// (#dfdfdf, 15%);
// -----------------------------------------------------------------------------
// Dropdown
// -----------------------------------------------------------------------------
$dropdown-box-shadow: 2px 2px 4px 0 rgba($black, $alpha-5); // #000000, 50%
// -----------------------------------------------------------------------------
// Form Label
// -----------------------------------------------------------------------------
$label-color: $color-gray--light1; // #c6c7ca
// -----------------------------------------------------------------------------
// Hint
// -----------------------------------------------------------------------------
$help-block-color-warning: $color-status--orange;
$help-block-color-error: $color-status--red--wash1;
// -----------------------------------------------------------------------------
// Link
// -----------------------------------------------------------------------------
$link-color: $base-brand-color; //#3bcaff;
$link-color--hover: $base-brand-color; //#3bcaff;
$link-color--active: $base-color--active; //#049fd9;
$link-color--focus: $base-brand-color; //#3bcaff;
$link-color--visited: $color-category--blue--burnt1; // #0083b3;
$link-color--disabled: $base-brand-color; //#3bcaff;
$link-opacity--disabled: $alpha-4;
// -----------------------------------------------------------------------------
// Loading Indicators
// -----------------------------------------------------------------------------
// Page Loading Indicator
$page-loader-base-background-color: $color-blue10; // #17202b;
// -----------------------------------------------------------------------------
// Modal / Dialog
// -----------------------------------------------------------------------------
$modal-header-bg: $color-blue11; // #253040;
$modal-footer-bg: $color-blue11; // #253040;
// -----------------------------------------------------------------------------
// Numeric Input
// -----------------------------------------------------------------------------
$spinner-box-bg: $color-gray--dark5; // #18191d;
$spinner-icon-bg: $color-gray--dark5; // #18191d;
// -----------------------------------------------------------------------------
// Pagination
// -----------------------------------------------------------------------------
$pagination-link-color: $color-gray--light4; // #f2f2f2;
// -----------------------------------------------------------------------------
// Panels
// -----------------------------------------------------------------------------
$panel-bg: linear-gradient(
    125.59deg,
    rgba($color-blue7, $alpha-6) 0%,
    rgba($color-blue9, $alpha-6) 100%
); // #34455C, #1B2638
$panel-bg-gray: linear-gradient(
    125.59deg,
    rgba($color-blue7, $alpha-6) 0%,
    rgba($color-blue9, $alpha-6) 100%
); // #34455C, #1B2638
// -----------------------------------------------------------------------------
// Popover
// -----------------------------------------------------------------------------
$popover-header-bg: $color-blue11; // #253040;
$popover-footer-bg: $color-blue11; // #253040;
$popover-header-arrow-color: $color-blue11; // #253040;
$popover-footer-arrow-color: $color-blue11; // #253040;
// -----------------------------------------------------------------------------
// Pivot
// -----------------------------------------------------------------------------
$pivot-li-color-disabled: rgba(
    $color-gray--light4,
    $alpha-3
); // (#f2f2f2, 30%);
// -----------------------------------------------------------------------------
// Progress Bar
// -----------------------------------------------------------------------------
$progressbar-disabled-bg-color: rgba($color-blue1, $alpha-3); // (#049fd9, 30%);
// -----------------------------------------------------------------------------
// Radio
// -----------------------------------------------------------------------------
$radio-border--checked: $color-blue1; // #049fd9;
$radio-box-border--enabled--hover: $color-gray--medium4; // #b6b9bb;
$radio-fill--enabled: $color-category--blue--burnt1; // #0083b3;
$radio-border--enabled--active: $color-category--blue--burnt1; // #0083b3;
$radio-border--active--hover: $color-blue1; // #049fd9;
$radio-fill--active--hover: $color-blue1; // #049fd9;
$radio-border--disabled: $color-gray--light1; // #c6c7ca;
$radio-bg--disabled: transparent;
$radio-box-bg--disabled: $color-blue4; // #6a7890;
$radio-opacity-disabled: $alpha-6;
$radio__label-color--disabled: rgba(
    $color-gray--light4,
    $alpha-4
); // (#f2f2f2, 40%);
// -----------------------------------------------------------------------------
// Scrollbar
// -----------------------------------------------------------------------------
$scrollbar-track-bg: rgba($color-gray--light5, $alpha-1);
// (#fbfbfb, 10%);
$scrollbar-track-border-color: rgba($color-gray--light4, $alpha-1);
// (#f2f2f2, 10%);
$scrollbar-thumb-bg: $color-gray--dark5; // #18191d;
// -----------------------------------------------------------------------------
// Search
// -----------------------------------------------------------------------------
$search-menu-mark: $color-gray--light4;
// #f2f2f2;
// -----------------------------------------------------------------------------
// Select / Dropdown
// -----------------------------------------------------------------------------
$select-border-color--focus: $color-category--blue--burnt1; // #0083b3;
$select-bg--disabled: rgba($color-blue4, $alpha-3); // (#6a7890, 30%);
$select-border-color--disabled: transparent;
$select-color--disabled: rgba($color-gray--light4, $alpha-4); // (#f2f2f2, 40%);
$select__open-icon--disabled: rgba(
    $color-gray--light1,
    $alpha-5
); // (#c6c7ca, 50%);
$select-checkmark--hover: $color-gray--light2; // #dfdfdf;s
$select-checkmark--selected: $color-gray--light2; // #dfdfdf;
// -----------------------------------------------------------------------------
// Sidebar
// -----------------------------------------------------------------------------
$sidebar-bg: linear-gradient(
    125.59deg,
    $color-blue8 0%,
    $color-blue10 100%
); // #29384b, #17202b
$sidebar-bg-gray: $sidebar-bg;
$sidebar__list-menu-icon-color: $color-gray--dark2; // #58585b;
$sidebar__list-menu-bg: $color-gray--light2; // #dfdfdf;
// -----------------------------------------------------------------------------
// Slider
// -----------------------------------------------------------------------------
$slider-selection-bg-disabled: $color-blue1; // #049fd9;
$slider-handle-border-disabled: $color-blue1; // #049fd9;
$slider-opacity-disabled: $alpha-3;
// -----------------------------------------------------------------------------
// Steps / Wizard
// -----------------------------------------------------------------------------
$step-icon-bg-visited: transparent;
$step-icon-color-visited: $color-gray--light4; // #f2f2f2;
$step-icon-bg: transparent;
$step-icon-color: $color-gray--light4; // #f2f2f2;
$step-icon-border-color: rgba($color-gray--light1, $alpha-3);
// (#c6c7ca, 30%);
$step-line-color: rgba($color-gray--light1, $alpha-3);
// (#c6c7ca, 30%);
// -----------------------------------------------------------------------------
// Tables
// -----------------------------------------------------------------------------
$table-bg: linear-gradient(
    125.59deg,
    rgba($color-blue7, $alpha-6) 0%,
    rgba($color-blue9, $alpha-6) 100%
); // #34455C, #1B2638
$table-header-color: $color-gray--medium4; // #b6b9bb;
$table-row-hover-color: $color-blue10; // #17202b;
$table-row-stripe-color: transparent;
$table-row-selected-color: $color-gray--dark5;
$table-grouped-rows-header-bg: $color-blue7;
// -----------------------------------------------------------------------------
// Switch
// -----------------------------------------------------------------------------
$switch-bg: rgba($color-gray--dark3, $alpha-8); // (#626469, 80%);
$switch__circle-border-color: rgba(
    $color-gray--dark3,
    $alpha-8
); // (#626469, 80%);
$switch__circle--inner-box-shadow-hover: $color-category--blue--burnt1; // #0083b3;
$switch__circle--inner-border-active: rgba($color-gray--dark3, $alpha-8);
// (#626469, 80%);
$switch__circle--inner-border-active-hover: $color-category--blue--burnt1; // #0083b3;
$switch-bg--checked: $color-blue1; // #049fd9;
$switch__circle-border-color--checked: $color-blue1;
// #049fd9;
$switch__circle-border-color--checked--hover: $color-blue1;
// #049fd9;
$switch__circle--inner-box-shadow-checked-hover: $color-blue1; // #049fd9;
$switch__circle--inner-border-checked-active: $color-blue1;
// #049fd9;
$switch__circle--inner-box-shadow-checked-active: $color-blue1; // #049fd9;
$switch__circle--inner-border-checked-active-hover: $color-blue1; // #049fd9;
$switch__circle--inner-box-shadow-checked-active-hover: $color-category--blue--burnt1; // #0083b3;
$switch-bg--disabled: rgba($color-gray--dark3, $alpha-8);
// (#626469, 80%);
$switch__circle-border-color--disabled: rgba(
    $color-gray--dark3,
    $alpha-8
); // (#626469, 80%);
$switch-bg--disabled--checked: $color-blue1; // #049fd9;
$switch__label-color--disabled: rgba(
    $color-gray--light4,
    $alpha-4
); // (#f2f2f2, 40%);
$switch__circle-border-color--disabled--checked: $color-blue1; // #049fd9;
$switch-opacity-disabled: $alpha-3;
// -----------------------------------------------------------------------------
// Tabs
// -----------------------------------------------------------------------------
$tab-oversized-background-color: transparent;
$tab-oversized--hover-background-color: transparent;
$tab--disabled-text-color: rgba(
    $color-gray--light4,
    $alpha-4
); // (#f2f2f2, 40%);
$tab-oversized--disabled-background-color: rgba(
    $color-blue4,
    $alpha-2
); // (#6a7890, 20%);
$tab-oversized--disabled-border-color: rgba(
    $color-blue4,
    $alpha-2
); // (#6a7890, 20%);
// -----------------------------------------------------------------------------
// Tags
// -----------------------------------------------------------------------------
$tag-bg-color: $color-gray--dark2; // #58585b;
$tag-color: $white;
$tag-icon-color: $white;
// -----------------------------------------------------------------------------
// Text Input
// -----------------------------------------------------------------------------
$input-bg: transparent;
$input-color--disabled: rgba($color-gray--light4, $alpha-4); // (#f2f2f2, 40%);
$input-bg--disabled: rgba($color-blue4, $alpha-3); // (#6a7890, 30%);
$input-border-color--disabled: transparent;
$input-border-color--readonly: rgba($color-gray--light1, $alpha-3);
// (#c6c7ca, 30%);
$input-bg--readonly: rgba($color-gray--light5, $alpha-1); // (#fbfbfb, 10%);
// -----------------------------------------------------------------------------
// Theme Switcher
// -----------------------------------------------------------------------------
$theme-switcher-card-opacity: 0.7;
// -----------------------------------------------------------------------------
// Timeline
// -----------------------------------------------------------------------------
$timeline-line-bg-color: $color-gray--dark3; // #626469
$timeline-icon-border-color: $color-gray--dark3; // #626469
$timeline-icon-bg-color: $color-gray--light2; // #dfdfdf;
$timeline-item-color-hover: $color-blue10; // #17202B;
// -----------------------------------------------------------------------------
// Tree Hierarchy
// -----------------------------------------------------------------------------
$tree-icon-disabled-color: rgba(
    $color-gray--light1,
    $alpha-5
); // Border Disabled (#c6c7ca, 50%);
$tree-text-disabled-color: rgba(
    $color-gray--light4,
    $alpha-4
); // (#f2f2f2, 40%);
// -----------------------------------------------------------------------------
// Universal Time Code
// -----------------------------------------------------------------------------
$utc-color: $base-color;
