.footer {
    display: block;
    min-height: $footer-min-height;
    max-height: $footer-max-height;
    padding: $footer-padding;
    font-size: $footer-font-size;
    background-color: $base-bg;
    color: $footer-color;
    border-top: $base-border-width solid $footer-border-color;
    &__legal {
        text-align: center;
    }
}
