.accordion {
    margin: $accordion-margin;
    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: $accordion-min-width;
        width: $accordion-width;
        word-wrap: break-word;
        background-color: transparent;
        &:not(:last-of-type) {
            margin: 0 0 2px 0;
        }
        &--state-collapsed {
            .accordion__header {
                border-bottom: $base-border-width solid $control-stroke-color;
            }
            .accordion__body {
                display: none;
            }
        }
    }
    &__header {
        height: 30px;
        display: inline-flex;
        border-top: $base-border-width solid $control-stroke-color;
        border-left: $base-border-width solid $control-stroke-color;
        border-right: $base-border-width solid $control-stroke-color;
        padding: $accordion-header-padding;
        font-size: $accordion-header-font-size;
        line-height: $accordion-header-line-height;
        vertical-align: middle;
        &:focus {
            border-top: $base-outline;
            border-right: $base-outline;
            border-bottom: $base-outline;
            border-left: $base-outline;
            box-shadow: $base-box-shadow;
            z-index: 1;
        }
    }
    &__link {
        text-decoration: none;
        color: $base-color;
        @include flex-fluid;
        &:visited,
        &:hover,
        &:focus,
        &:active {
            color: $base-color;
            text-decoration: none;
        }
    }
    &__toggle {
        font-size: $accordion-toggle-font-size;
        width: $accordion-toggle-font-size;
        font-weight: $font-weight-xbold;
        margin: $accordion-toggle-margin;
        vertical-align: middle;
    }
    &__icon {
        &:visited,
        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }
    }
    &__body {
        padding: $accordion-body-padding;
        background-color: $accordion-body-bg;
        border-left: $base-border-width solid $control-stroke-color;
        border-right: $base-border-width solid $control-stroke-color;
        border-bottom: $base-border-width solid $control-stroke-color;
    }
    &__message {
        font-size: $accordion-message-font-size;
        flex: 1 1 auto;
    }
    &--style-condensed {
        .accordion__card {
            margin: $accordion--style-condensed-margin;
            .accordion__body {
                border-bottom: none;
            }
            &:last-of-type {
                .accordion__header {
                    border-bottom: $base-border-width solid transparent;
                }
                .accordion__body {
                    border-bottom: $base-border-width solid
                        $control-stroke-color;
                }
            }
            .accordion__header {
                border-bottom: $base-border-width solid transparent;
                &:focus {
                    border-bottom: $base-outline;
                    box-shadow: $base-box-shadow;
                    z-index: 1;
                }
            }
        }

        .accordion__card--state-collapsed {
            &:last-of-type {
                .accordion__header {
                    border-bottom: $base-border-width solid
                        $control-stroke-color;
                    &:focus {
                        border-bottom: $base-border-width solid
                            $base-brand-color;
                    }
                }
            }
        }
    }
}

// Will be refactored later
&.atomic-ui-root--animated .accordion {
    .accordion__card {
        .accordion__body {
            display: block;
            padding: 0 10px;
            max-height: $accordion-body-max-height;
            visibility: visible;
            overflow: hidden;
            opacity: 1;
            @include transition($accordion-transition);
            .accordion__message {
                margin: 15px 0;
            }
        }
        &--state-collapsed {
            .accordion__body {
                max-height: 0;
                visibility: hidden;
                opacity: 0;
                @include transition($accordion--state-collapsed-transition);
            }
        }
    }
}
