.date-picker {
    display: block;
    height: $date-picker-height;
    min-height: $date-picker-min-height;
    width: $date-picker-width;
    max-width: $date-picker-max-width;
    background-color: $control-fill-color;
    border: $base-border-width solid $base-stroke-color;
    border-radius: $base-border-radius;
    z-index: $date-picker-z-index;
    &__header {
        position: relative;
        padding: $date-picker-header-padding;
        border-bottom: $base-border-width solid $date-picker-header-border-color;
    }
    &__prev,
    &__next {
        position: absolute;
        width: $date-picker-nav-width;
        height: $date-picker-nav-height;
        & span {
            display: block;
            position: absolute;
            font-size: $font-size--xxs;
            left: $date-picker-nav-span-left;
            margin-left: $date-picker-nav-span-margin-left;
            top: $date-picker-nav-span-top;
            margin-top: $date-picker-nav-span-margin-top;
        }
        &:hover {
            text-decoration: none;
            & span {
                color: $base-color--hover;
            }
        }
        &:focus {
            & span {
                box-shadow: $base-box-shadow;
                text-decoration: none;
            }
        }
    }
    &__prev {
        left: $date-picker-prev-left;
    }
    &__next {
        right: $date-picker-next-right;
    }
    &__title {
        line-height: $date-picker-title-line-height;
        text-align: center;
    }
    &__calendar {
        width: $date-picker-calendar-width;
        background: transparent;
        min-width: $date-picker-calendar-min-width;
        font-size: $date-picker-calendar-font-size;
        border-collapse: collapse;
        margin: $date-picker-calendar-margin;
        & .disabled {
            opacity: $date-picker-calendar-disabled-opacity;
            text-align: center;
        }
    }
    &__week {
        text-align: center;
        font-size: $date-picker-week-font-size;
    }
    &__day {
        width: $date-picker-day-width;
        min-width: $date-picker-day-width;
        padding-top: $date-picker-day-padding-top;
        padding-bottom: $date-picker-day-padding-bottom;
        & a {
            width: $date-picker-day-width;
            height: $date-picker-day-height;
            line-height: $date-picker-day-height;
            color: $base-color;
            display: inline-block;
            text-align: center;
            text-decoration: none;
            border-radius: $date-picker-day-border-radius;
            &:focus {
                box-shadow: $base-box-shadow;
                text-decoration: none;
            }
        }
        &.selected {
            & a {
                background-color: $base-color--selected;
                color: $base-inverse-color;
            }
        }
        &:hover {
            & a {
                background-color: $base-color--hover;
                color: $base-inverse-color;
            }
        }
        &:active {
            & a {
                background-color: $date-picker-day-bg-active;
                color: $base-inverse-color;
            }
        }
    }
    &__range {
        & a {
            background-color: $date-picker-range-bg;
        }
    }
}
