.search {
    position: relative;
    margin: $search-margin;
    display: inline-block;
    flex: 1;
    &__icon {
        position: absolute;
        top: $search-icon-top;
        z-index: 1;
        cursor: pointer;
        &.icon-search {
            left: $search-icon-search-left;
        }
        &.icon-close {
            right: $search-icon-close-right;
            top: $search-icon-close-top;
            font-size: $search-icon-close-font-size;
        }
    }
    &__icon + .input {
        padding-left: $search-input-padding-left;
    }
    &__tags {
        position: absolute;
        top: $search-tags-top;
        left: $search-tags-left;
    }
    & .loader {
        position: absolute;
        margin: $search-loader-margin;
        top: $search-loader-top;
        left: $search-loader-left;
        z-index: 1;
    }
    & .loader + .input {
        padding-left: $search-input-loader-padding-left;
    }
    & .select {
        display: block;
        &__menu-items {
            top: $search-menu-items-top;
            left: $search-menu-items-left;
        }
        &__menu-item {
            height: $search-menu-item-height;
            padding-top: $search-menu-item-padding-top;
            &--selected {
                &:hover::after,
                &:active::after {
                    border-color: $select-checkmark--hover;
                }
                &::after {
                    border-color: $select-checkmark--selected;
                }
            }
        }
    }
    & .input {
        &.disabled,
        &[disabled] {
            @include disabled;
        }
    }
}
