.icon-add:before {
    content: '\e900';
}
.icon-add-to-list:before {
    content: '\e901';
}
.icon-alarm:before {
    content: '\e902';
}
.icon-alert:before {
    content: '\e903';
}
.icon-align-center:before {
    content: '\e904';
}
.icon-align-left:before {
    content: '\e905';
}
.icon-align-right:before {
    content: '\e906';
}
.icon-allow:before {
    content: '\e907';
}
.icon-allow-list:before {
    content: '\e908';
}
.icon-append:before {
    content: '\e909';
}
.icon-asa-zone:before {
    content: '\e90a';
}
.icon-back:before {
    content: '\e90b';
}
.icon-bandwidth-quota:before {
    content: '\e90c';
}
.icon-bidirectional-tunnel:before {
    content: '\e90d';
}
.icon-block:before {
    content: '\e90e';
}
.icon-blocked:before {
    content: '\e90f';
}
.icon-block-with-reset:before {
    content: '\e910';
}
.icon-bold:before {
    content: '\e911';
}
.icon-bulleted-list:before {
    content: '\e912';
}
.icon-calendar:before {
    content: '\e913';
}
.icon-capslock:before {
    content: '\e914';
}
.icon-certified:before {
    content: '\e915';
}
.icon-change-log:before {
    content: '\e916';
}
.icon-change-log-state:before {
    content: '\e917';
}
.icon-change-log-type:before {
    content: '\e918';
}
.icon-change-request:before {
    content: '\e919';
}
.icon-chart-bar:before {
    content: '\e91a';
}
.icon-chart-curve:before {
    content: '\e91b';
}
.icon-chart-pie:before {
    content: '\e91c';
}
.icon-checkmark:before {
    content: '\e91d';
}
.icon-chevron-down:before {
    content: '\e91e';
}
.icon-chevron-left:before {
    content: '\e91f';
}
.icon-chevron-right:before {
    content: '\e920';
}
.icon-chevron-up:before {
    content: '\e921';
}
.icon-circle:before {
    content: '\e922';
}
.icon-cisco:before {
    content: '\e923';
}
.icon-cli:before {
    content: '\e924';
}
.icon-clock:before {
    content: '\e925';
}
.icon-close:before {
    content: '\e926';
}
.icon-comments:before {
    content: '\e927';
}
.icon-compare:before {
    content: '\e928';
}
.icon-computer:before {
    content: '\e929';
}
.icon-condensed-spacing:before {
    content: '\e92a';
}
.icon-connectivity:before {
    content: '\e92b';
}
.icon-convergence:before {
    content: '\e92c';
}
.icon-copy:before {
    content: '\e92d';
}
.icon-critical-stop:before {
    content: '\e92e';
}
.icon-data-source:before {
    content: '\e92f';
}
.icon-delay:before {
    content: '\e930';
}
.icon-detail-view:before {
    content: '\e931';
}
.icon-device-service:before {
    content: '\e932';
}
.icon-device-type:before {
    content: '\e933';
}
.icon-disconnect:before {
    content: '\e934';
}
.icon-diverge:before {
    content: '\e935';
}
.icon-domain:before {
    content: '\e936';
}
.icon-download:before {
    content: '\e937';
}
.icon-dropped:before {
    content: '\e938';
}
.icon-dynamic-nat:before {
    content: '\e939';
}
.icon-edit:before {
    content: '\e93a';
}
.icon-ellipsis-horizontal:before {
    content: '\e93b';
}
.icon-ellipsis-vertical:before {
    content: '\e93c';
}
.icon-eraser:before {
    content: '\e93d';
}
.icon-export:before {
    content: '\e93e';
}
.icon-favorites:before {
    content: '\e93f';
}
.icon-file-policy:before {
    content: '\e940';
}
.icon-filter:before {
    content: '\e941';
}
.icon-find-usage:before {
    content: '\e942';
}
.icon-first-page:before {
    content: '\e943';
}
.icon-free-trial:before {
    content: '\e944';
}
.icon-generate-report:before {
    content: '\e945';
}
.icon-global-view:before {
    content: '\e946';
}
.icon-good:before {
    content: '\e947';
}
.icon-gripper:before {
    content: '\e948';
}
.icon-group:before {
    content: '\e949';
}
.icon-grouped-object:before {
    content: '\e94a';
}
.icon-hardware-version:before {
    content: '\e94b';
}
.icon-heartbeat-status:before {
    content: '\e94c';
}
.icon-help:before {
    content: '\e94d';
}
.icon-html-format:before {
    content: '\e94e';
}
.icon-image:before {
    content: '\e94f';
}
.icon-import:before {
    content: '\e950';
}
.icon-incoming-mail:before {
    content: '\e951';
}
.icon-inconsistent-objects:before {
    content: '\e952';
}
.icon-information:before {
    content: '\e953';
}
.icon-inline-zone:before {
    content: '\e954';
}
.icon-input-parameter:before {
    content: '\e955';
}
.icon-insert-horizontal-rule:before {
    content: '\e956';
}
.icon-insert-image:before {
    content: '\e957';
}
.icon-inspect:before {
    content: '\e958';
}
.icon-interactive-block:before {
    content: '\e959';
}
.icon-interactive-block-with-reset:before {
    content: '\e95a';
}
.icon-interface:before {
    content: '\e95b';
}
.icon-interface-down:before {
    content: '\e95c';
}
.icon-interface-up:before {
    content: '\e95d';
}
.icon-intrusion-policy:before {
    content: '\e95e';
}
.icon-issues:before {
    content: '\e95f';
}
.icon-italic:before {
    content: '\e960';
}
.icon-label-group:before {
    content: '\e961';
}
.icon-label-tag:before {
    content: '\e962';
}
.icon-last-page:before {
    content: '\e963';
}
.icon-link:before {
    content: '\e964';
}
.icon-list-menu:before {
    content: '\e965';
}
.icon-lock:before {
    content: '\e966';
}
.icon-malicious:before {
    content: '\e967';
}
.icon-merge-down:before {
    content: '\e968';
}
.icon-monitor:before {
    content: '\e969';
}
.icon-move-document:before {
    content: '\e96a';
}
.icon-nat:before {
    content: '\e96b';
}
.icon-nat-original-port:before {
    content: '\e96c';
}
.icon-nat-translated-port:before {
    content: '\e96d';
}
.icon-network:before {
    content: '\e96e';
}
.icon-new-window:before {
    content: '\e96f';
}
.icon-note:before {
    content: '\e970';
}
.icon-numbered-list:before {
    content: '\e971';
}
.icon-object:before {
    content: '\e972';
}
.icon-ospf:before {
    content: '\e973';
}
.icon-outgoing:before {
    content: '\e974';
}
.icon-page-break:before {
    content: '\e975';
}
.icon-partially-dropped:before {
    content: '\e976';
}
.icon-passive-zone:before {
    content: '\e977';
}
.icon-paste:before {
    content: '\e978';
}
.icon-pause:before {
    content: '\e979';
}
.icon-pdf:before {
    content: '\e97a';
}
.icon-phishing:before {
    content: '\e97b';
}
.icon-play:before {
    content: '\e97c';
}
.icon-prepend:before {
    content: '\e97d';
}
.icon-progress:before {
    content: '\e97e';
}
.icon-reconnect:before {
    content: '\e97f';
}
.icon-refresh:before {
    content: '\e980';
}
.icon-release:before {
    content: '\e981';
}
.icon-remove-formatting:before {
    content: '\e982';
}
.icon-restart:before {
    content: '\e983';
}
.icon-restore:before {
    content: '\e984';
}
.icon-routed-zone:before {
    content: '\e985';
}
.icon-safe-search:before {
    content: '\e986';
}
.icon-save:before {
    content: '\e987';
}
.icon-sdc-cloud:before {
    content: '\e988';
}
.icon-sdc-onprem:before {
    content: '\e989';
}
.icon-sdc-type:before {
    content: '\e98a';
}
.icon-search:before {
    content: '\e98b';
}
.icon-security-zone:before {
    content: '\e98c';
}
.icon-send-copy:before {
    content: '\e98d';
}
.icon-settings:before {
    content: '\e98e';
}
.icon-shadow-rule:before {
    content: '\e98f';
}
.icon-shutdown:before {
    content: '\e990';
}
.icon-sign-out:before {
    content: '\e991';
}
.icon-software-version:before {
    content: '\e992';
}
.icon-sort:before {
    content: '\e993';
}
.icon-sort-ascending:before {
    content: '\e994';
}
.icon-sort-descending:before {
    content: '\e995';
}
.icon-spacing:before {
    content: '\e996';
}
.icon-spam:before {
    content: '\e997';
}
.icon-static-nat:before {
    content: '\e998';
}
.icon-stop:before {
    content: '\e999';
}
.icon-strikethrough:before {
    content: '\e99a';
}
.icon-subdomain:before {
    content: '\e99b';
}
.icon-subscription:before {
    content: '\e99c';
}
.icon-switched-zone:before {
    content: '\e99d';
}
.icon-sync:before {
    content: '\e99e';
}
.icon-table:before {
    content: '\e99f';
}
.icon-table-customize:before {
    content: '\e9a0';
}
.icon-text-format:before {
    content: '\e9a1';
}
.icon-ticket:before {
    content: '\e9a2';
}
.icon-time-quota:before {
    content: '\e9a3';
}
.icon-time-range:before {
    content: '\e9a4';
}
.icon-time-zone:before {
    content: '\e9a5';
}
.icon-toggle-subscript:before {
    content: '\e9a6';
}
.icon-toggle-superscript:before {
    content: '\e9a7';
}
.icon-trash:before {
    content: '\e9a8';
}
.icon-triangle-down:before {
    content: '\e9a9';
}
.icon-triangle-left:before {
    content: '\e9aa';
}
.icon-triangle-right:before {
    content: '\e9ab';
}
.icon-triangle-up:before {
    content: '\e9ac';
}
.icon-troubleshoot:before {
    content: '\e9ad';
}
.icon-trust:before {
    content: '\e9ae';
}
.icon-underline:before {
    content: '\e9af';
}
.icon-ungrouped-object:before {
    content: '\e9b0';
}
.icon-unidirectional-tunnel:before {
    content: '\e9b1';
}
.icon-unlock:before {
    content: '\e9b2';
}
.icon-unprovisioned-device:before {
    content: '\e9b3';
}
.icon-unsynced:before {
    content: '\e9b4';
}
.icon-unused-object:before {
    content: '\e9b5';
}
.icon-upgrade:before {
    content: '\e9b6';
}
.icon-upload:before {
    content: '\e9b7';
}
.icon-user:before {
    content: '\e9b8';
}
.icon-variable:before {
    content: '\e9b9';
}
.icon-view:before {
    content: '\e9ba';
}
.icon-view-metadata:before {
    content: '\e9bb';
}
.icon-view-restricted:before {
    content: '\e9bc';
}
.icon-view-side-by-side:before {
    content: '\e9bd';
}
.icon-vpn:before {
    content: '\e9be';
}
.icon-walkthrough:before {
    content: '\e9bf';
}
.icon-warning:before {
    content: '\e9c0';
}
.icon-web-tracking:before {
    content: '\e9c1';
}
.icon-would-have-dropped:before {
    content: '\e9c2';
}
