// -----------------------------------------------------------------------------
// Lists
// -----------------------------------------------------------------------------
ol,
ul {
    margin: 0;
    padding: 0;
}

.list {
    margin: 0;
    padding: 0 0 0 $spacing;
    &--unstyled {
        @include list--unstyled;
        ul,
        ol {
            @include list--unstyled;
        }
    }
}
