.panel {
    color: $base-color;
    border: $base-border-width solid $base-stroke-color;
    background: $panel-bg;
    border-radius: $base-border-radius;
    padding: $panel-padding;
    height: auto;
    display: block;
    position: relative;
    margin: $panel-margin;
    &--color-gray {
        background: $panel-bg-gray;
        border: none;
    }
    &--color-white {
        color: $panel-color-white;
        background: $white;
        border: none;
    }
    &__header {
        display: flex;
    }
    &__title {
        font-size: $panel-title-font-size;
        @include flex-fluid;
        &--size-small {
            font-size: $base-font-size;
        }
    }
    &__icon {
        font-size: $font-size;
    }
    &__body {
        margin: $panel-body-margin;
    }
    &__footer {
        text-align: right;
    }
}
