.pivot {
    position: relative;
    top: 0;
    left: 0;
    z-index: $pivot-zindex;
    display: block;
    width: $pivot-width;
    max-width: $pivot-max-width;
    font-size: $pivot-font-size;
    word-wrap: break-word;
    background-color: $control-fill-color;
    background-clip: padding-box;
    border: $base-border-width solid $base-stroke-color;
    border-radius: $base-border-radius;
    box-shadow: $pivot-box-shadow;
    ul {
        list-style: none;
        padding: 0;
    }
    &__arrow {
        position: absolute;
        display: block;
        width: $pivot-arrow-width;
        height: $pivot-arrow-height;
        margin: 0 $pivot-arrow-margin;
        &::before,
        &::after {
            position: absolute;
            display: block;
            content: '';
            border-color: transparent;
            border-style: solid;
        }
    }
    &--top {
        margin-bottom: $pivot-arrow-height;
        .pivot__arrow {
            left: $pivot-arrow-left;
            bottom: calc(#{$pivot-arrow-height} * -1);
        }
        .pivot__arrow::before,
        .pivot__arrow::after {
            border-width: $pivot-arrow-height ($pivot-arrow-width / 2) 0;
        }
        .pivot__arrow::before {
            bottom: -1px;
            border-top-color: $base-stroke-color;
        }
        .pivot__arrow::after {
            bottom: $base-border-width;
            border-top-color: $control-fill-color;
        }
    }
    &--right {
        margin-left: $pivot-arrow-height;
        .pivot__arrow {
            top: $pivot-arrow-top;
            left: calc(#{$pivot-arrow-height} * -1);
            width: $pivot-arrow-height;
            height: $pivot-arrow-width;
            margin: 0;
        }
        .pivot__arrow::before,
        .pivot__arrow::after {
            border-width: ($pivot-arrow-width / 2) $pivot-arrow-height
                ($pivot-arrow-width / 2) 0;
        }
        .pivot__arrow::before {
            left: -1px;
            border-right-color: $base-stroke-color;
        }
        .pivot__arrow::after {
            left: $base-border-width;
            border-right-color: $control-fill-color;
        }
    }
    &--bottom {
        margin-top: $pivot-arrow-height;
        .pivot__arrow {
            left: $pivot-arrow-left;
            top: calc(#{$pivot-arrow-height} * -1);
        }
        .pivot__arrow::before,
        .pivot__arrow::after {
            border-width: 0 ($pivot-arrow-width / 2) $pivot-arrow-height
                ($pivot-arrow-width / 2);
        }
        .pivot__arrow::before {
            top: -1px;
            border-bottom-color: $base-stroke-color;
        }
        .pivot__arrow::after {
            top: $base-border-width;
            border-bottom-color: $control-fill-color;
        }
    }
    &--left {
        margin-right: $pivot-arrow-height;
        .pivot__arrow {
            top: $pivot-arrow-top;
            right: calc(#{$pivot-arrow-height} * -1);
            width: $pivot-arrow-height;
            height: $pivot-arrow-width;
            margin: $pivot-arrow-margin 0;
        }
        .pivot__arrow::before,
        .pivot__arrow::after {
            border-width: ($pivot-arrow-width / 2) 0 ($pivot-arrow-width / 2)
                $pivot-arrow-height;
        }
        .pivot__arrow::before {
            right: -1px;
            border-left-color: $base-stroke-color;
        }
        .pivot__arrow::after {
            right: $base-border-width;
            border-left-color: $control-fill-color;
        }
    }
    &__header {
        line-height: $pivot-header-line-height;
        font-size: $pivot-header-font-size;
        margin: $pivot-header-margin;
        color: $base-color;
    }
    &__body {
        color: $base-color;
        padding: $pivot-body-padding;
    }
    & li {
        line-height: $pivot-li-line-height;
        padding: $pivot-li-padding;
        &.disabled {
            color: $pivot-li-color-disabled;
        }
    }
}

&.atomic-ui-root--animated .pivot {
    animation-name: fade-in;
    animation-duration: $transition-duration--fast;
    & li {
        @include transition($transition-item);
    }
}
