.sidebar {
    display: block;
    // Change the position to "absolute" when you need the Sidebar to be positioned on the left side of the page.
    position: relative;
    font-size: $base-font-size;
    top: 0;
    left: 0;
    padding: $sidebar-padding;
    width: $sidebar-width;
    height: $sidebar-height;
    background: $sidebar-bg;
    color: $base-inverse-color;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: $sidebar-z-index;
    &__header {
        @include clearfix;
        padding: $sidebar__header-padding;
        line-height: $sidebar__header-line-height;
        display: flex;
        align-items: center;
    }
    &__title {
        display: inline-block;
        font-size: $sidebar__title-font-size;
        line-height: $sidebar__title-line-height;
        vertical-align: middle;
    }
    &__list-menu {
        @include btn-icon();
        color: $sidebar__list-menu-color;
        background-color: $sidebar__list-menu-bg;
        border-radius: $btn--icon-border-radius;
        position: absolute;
        top: 20px;
        right: 20px;
        & .icon {
            color: $sidebar__list-menu-icon-color;
        }
        &:focus {
            outline: $button-base-outline;
            box-shadow: $button-box-shadow;
        }
    }
    &__link {
        display: flex;
        color: $base-inverse-color;
        align-items: center;
        height: $sidebar__link-height;
        line-height: $sidebar__link-line-height;
        padding: $sidebar__link-padding;
        user-select: none;
        &:hover,
        &:active {
            text-decoration: none;
            color: $base-inverse-color;
        }
        &:focus {
            background-color: $base-color--active;
        }
    }
    & ul {
        width: $sidebar-width;
        opacity: 1;
        list-style: none;
        padding: 0;
        // Second menu level
        & > li > ul > li {
            .sidebar__link {
                padding: $sidebar__link-secondary-padding;
            }
        }
        // Third (max) menu level
        & > li > ul > li > ul > li {
            .sidebar__link {
                padding: $sidebar__link-tertiary-padding;
            }
        }
    }
    &__icon {
        color: $base-inverse-color;
        &:focus {
            outline: $button-base-outline;
            box-shadow: $button-box-shadow;
        }
    }
    &__drawer {
        & .icon {
            // These variables will be switched to "$sidebar__chevron-size", "$sidebar__chevron-margin" next release;
            font-size: $sidebar__shevron-size;
            width: $sidebar__shevron-size;
            margin: $sidebar__shevron-margin;
            color: $base-inverse-color;
        }
        & > a.sidebar__link {
            padding: $sidebar__link-drawer-padding;
            &:hover {
                background-color: $sidebar__item--selected-bg;
                box-shadow: $sidebar__item--selected-shadow-width 0 0
                    $base-inverse-color inset;
            }
            &:active {
                background-color: $base-color--active;
            }
        }
        & ul > li.sidebar__drawer {
            & > .sidebar__link {
                padding: $sidebar__link-drawer-secondary-padding;
            }
        }
        & > ul {
            display: none;
        }
        &--opened {
            & > ul {
                display: block;
            }
        }

        &--selected {
            background-color: $sidebar__item--selected-bg;
            box-shadow: $sidebar__item--selected-shadow-width 0 0
                $base-inverse-color inset;
        }
    }
    &__item {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
        &--selected {
            background-color: $sidebar__item--selected-bg;
            box-shadow: $sidebar__item--selected-shadow-width 0 0
                $base-inverse-color inset;
        }
        &:hover {
            background-color: $sidebar__item--selected-bg;
            box-shadow: $sidebar__item--selected-shadow-width 0 0
                $base-inverse-color inset;
        }
        &:active {
            background-color: $base-color--active;
        }
    }
    &--bg-gray {
        background: $sidebar-bg-gray;
        color: $sidebar-color-gray;
        & .sidebar__list-menu {
            background-color: $sidebar-color-gray;
            & .icon {
                color: $sidebar__list-menu-icon-color-gray;
            }
            &:focus {
                outline: $base-outline;
                box-shadow: $base-box-shadow;
            }
        }
        & .sidebar__drawer {
            & > a.sidebar__link:hover {
                background-color: $sidebar__item--selected-bg-gray;
                box-shadow: $sidebar__item--selected-shadow-width 0 0
                    $sidebar__item--selected-shadow-color-gray inset;
            }
            & > a.sidebar__link:active {
                background-color: $sidebar__item--active-bg-gray;
            }
            & .icon {
                color: $sidebar-color-gray;
            }
        }
        & .sidebar__link {
            &:focus {
                background-color: $sidebar__item--active-bg-gray;
            }
        }
        & .sidebar__icon {
            &:focus {
                outline: $base-outline;
                box-shadow: $base-box-shadow;
            }
        }
        & .sidebar__link,
        .sidebar__icon {
            color: $sidebar-color-gray;
        }
        & .sidebar__item {
            &--selected {
                background-color: $sidebar__item--selected-bg-gray;
                box-shadow: $sidebar__item--selected-shadow-width 0 0
                    $sidebar__item--selected-shadow-color-gray inset;
            }
            &:hover {
                background-color: $sidebar__item--selected-bg-gray;
                box-shadow: $sidebar__item--selected-shadow-width 0 0
                    $sidebar__item--selected-shadow-color-gray inset;
            }
            &:active {
                background-color: $sidebar__item--active-bg-gray;
            }
        }
        &.sidebar--type-navigation {
            & .sidebar__header {
                border-bottom: $base-border-width solid
                    $sidebar-gray-type-navigation-header-border-color;
            }
            & .sidebar__drawer {
                &--opened {
                    & ul {
                        background: $sidebar-bg-gray;
                        color: $sidebar-color-gray;
                    }
                }
                &--selected {
                    background-color: $sidebar__item--selected-bg-gray;
                    box-shadow: $sidebar__item--selected-shadow-width 0 0
                        $sidebar__item--selected-shadow-color-gray inset;
                }
            }

            & .sidebar__item {
                &--selected {
                    background-color: $sidebar__item--selected-bg-gray;
                    box-shadow: $sidebar__item--selected-shadow-width 0 0
                        $sidebar__item--selected-shadow-color-gray inset;
                }
            }
        }
    }

    &--type-navigation {
        & .sidebar__header {
            padding: $sidebar--type-navigation-header-padding;
            border-bottom: $base-border-width solid
                $sidebar--type-navigation-header-border-color;
            margin-bottom: $sidebar--type-navigation-margin-bottom;
        }
        & .sidebar__list-menu {
            & .icon {
                color: $sidebar__list-menu-icon-color-gray;
            }
        }
        & .sidebar__drawer {
            & ul > li.sidebar__drawer {
                & > .sidebar__link {
                    padding: $sidebar--type-navigation-sidebar-link-padding;
                }
            }
        }
        & .sidebar__item {
            &--selected {
                background-color: $sidebar__item--selected-bg;
                box-shadow: $sidebar__item--selected-shadow-width 0 0
                    $base-inverse-color inset;
            }
        }
        & .sidebar__icon {
            font-size: $sidebar--type-navigation-sidebar-icon-font-size;
            margin-right: $sidebar--type-navigation-sidebar-icon-margin-right;
        }

        & ul {
            width: $sidebar-width;
            opacity: 1;
            list-style: none;
            padding: 0;
            // Second menu level
            & > li > ul > li {
                .sidebar__link {
                    padding: 0 0 0 30px;
                }
            }
            // Third (max) menu level
            & > li > ul > li > ul > li {
                .sidebar__link {
                    padding: 0 0 0 30px;
                }
            }
        }

        & .sidebar__drawer--opened {
            position: relative;
            & ul {
                background: $sidebar-bg;
                color: $base-inverse-color;
                width: $sidebar--type-navigation-drawer-opened-width;
                position: absolute;
                margin-left: 0;
                height: auto;
                opacity: 1;
                flex-wrap: wrap;
                left: 100%;
                top: 0;
                visibility: visible;
                box-shadow: $sidebar--type-navigation-drawer-opened-box-shadow;
            }
        }

        &.sidebar--state-collapsed {
            width: $sidebar--type-navigation-sidebar-collapsed-width;
            & ul {
                width: $sidebar--type-navigation-sidebar-collapsed-width;
                display: block;
                opacity: 1;
                & > li > ul {
                    width: $sidebar--type-navigation-drawer-opened-width;
                    & > li > ul {
                        width: $sidebar--type-navigation-drawer-opened-width;
                    }
                }
            }
            .item__title {
                display: none;
                opacity: 0;
            }

            & .sidebar__drawer {
                & > a.sidebar__link {
                    padding: $sidebar--type-navigation-sidebar-collapsed-link-padding;
                }
            }
        }
    }

    &--state-collapsed {
        width: $sidebar--state-collapsed-width;
        .sidebar__title {
            display: none;
        }
        & ul {
            display: none;
            opacity: 0;
        }
    }
}

&.atomic-ui-root .sidebar.sidebar--type-navigation {
    overflow-y: visible;
    overflow-x: visible;
}

&.atomic-ui-root--animated .sidebar {
    transition: $transition-duration--fast;
}
