// -----------------------------------------------------------------------------
// Animations
// -----------------------------------------------------------------------------
.spin {
    animation: spin 2s infinite linear;
}

.fade-in-pop {
    animation: pop 1.5s 1 linear, fade-in 1.5s 1 linear;
}

.fade-in-and-out {
    transition: opacity 0.15s ease-in-out;
}

// Animated rotate
.rotate-right {
    transition: transform 0.2s ease-in-out;
    transform: rotate(90deg);
}
.rotate-left {
    transition: transform 0.2s ease-in-out;
    transform: rotate(270deg);
}

// Animation delays
.animation-delay-1 {
    animation-delay: 1s;
}
.animation-delay-2 {
    animation-delay: 2s;
}
.animation-delay-3 {
    animation-delay: 3s;
}

.animation-delay-100 {
    animation-delay: 0.1s;
}
.animation-delay-200 {
    animation-delay: 0.2s;
}
.animation-delay-250 {
    animation-delay: 0.25s;
}
.animation-delay-500 {
    animation-delay: 0.5s;
}
.animation-delay-750 {
    animation-delay: 0.75s;
}

// -----------------------------------------------------------------------------
// Motion Transitions
// -----------------------------------------------------------------------------
.motion-fade-in {
    animation-name: fade-in;
    animation-duration: $transition-duration--fast;
}

.fadeIn {
    animation: fadeIn 1s;
}
