// -----------------------------------------------------------------------------
// Palette - Magnetic - Neutrals
// -----------------------------------------------------------------------------
$neutral-100: #ffffff;
$neutral-98: #f7f7f7;
$neutral-95: #f0f1f2;
$neutral-90: #e1e4e8;
$neutral-85: #d0d4d9;
$neutral-80: #c1c6cc;
$neutral-70: #a7adb5;
$neutral-65: #979fa8;
$neutral-60: #889099;
$neutral-55: #7e868f;
$neutral-50: #6f7680;
$neutral-45: #656c75;
$neutral-40: #596069;
$neutral-35: #464c54;
$neutral-25: #373c42;
$neutral-15: #23282e;
$neutral-5: #0f1214;
$neutral-0: #000000;
// -----------------------------------------------------------------------------
// Palette - Magnetic - Sky-blue
// -----------------------------------------------------------------------------
$sky-blue-95: #d4f3ff;
$sky-blue-90: #ade9ff;
$sky-blue-85: #8ce0ff;
$sky-blue-80: #5ed4ff;
$sky-blue-70: #14bdfa;
$sky-blue-65: #09abe8;
$sky-blue-60: #049fd9;
$sky-blue-55: #028ec2;
$sky-blue-50: #027fb0;
$sky-blue-45: #0274a1;
$sky-blue-40: #006691;
$sky-blue-35: #005980;
// -----------------------------------------------------------------------------
// Palette - Magnetic - Green
// -----------------------------------------------------------------------------
$green-95: #e0f5d5;
$green-90: #c5ebb2;
$green-85: #b0e396;
$green-80: #98d977;
$green-70: #6bbf41;
$green-65: #5eb035;
$green-60: #50a329;
$green-55: #45991f;
$green-50: #398519;
$green-45: #2b7a0c;
$green-40: #266b0b;
$green-35: #1f5e06;
// -----------------------------------------------------------------------------
// Palette - Magnetic - Interactive
// -----------------------------------------------------------------------------
$interactive-95: #e3eeff;
$interactive-90: #cfe0ff;
$interactive-85: #bdd5ff;
$interactive-80: #abc9fc;
$interactive-70: #81acf7;
$interactive-65: #6c9ef5;
$interactive-60: #5a90ed;
$interactive-55: #4983e5;
$interactive-50: #3972d4;
$interactive-45: #306acf;
$interactive-40: #215abf;
$interactive-35: #154eb0;
// -----------------------------------------------------------------------------
// Palette - Magnetic - Info
// -----------------------------------------------------------------------------
$info-95: #f3ebff;
$info-90: #e8d9ff;
$info-85: #e0ccff;
$info-80: #d6baff;
$info-70: #c299ff;
$info-65: #b587fa;
$info-60: #a974f7;
$info-55: #9b5ff5;
$info-50: #8d4eed;
$info-45: #864ae0;
$info-40: #753bcc;
$info-35: #6732b8;
// -----------------------------------------------------------------------------
// Palette - Magnetic - Positive
// -----------------------------------------------------------------------------
$positive-95: #d9f2ff;
$positive-90: #b8e7ff;
$positive-85: #9fddfc;
$positive-80: #79d1fc;
$positive-70: #3fb6f2;
$positive-65: #24a7ed;
$positive-60: #139beb;
$positive-55: #0d8bd4;
$positive-50: #087abd;
$positive-45: #0570ad;
$positive-40: #03639c;
$positive-35: #015788;
// -----------------------------------------------------------------------------
// Palette - Magnetic - Negative
// -----------------------------------------------------------------------------
$negative-95: #ffe8e9;
$negative-90: #ffd4d5;
$negative-85: #ffc7c9;
$negative-80: #ffb2b5;
$negative-70: #ff878b;
$negative-65: #ff6e72;
$negative-60: #fa5762;
$negative-55: #eb4651;
$negative-50: #d93843;
$negative-45: #cc2d37;
$negative-40: #b2242d;
$negative-35: #a01d26;
// -----------------------------------------------------------------------------
// Palette - Magnetic - Warning
// -----------------------------------------------------------------------------
$warning-95: #faefb9;
$warning-90: #f5e08e;
$warning-85: #f2d268;
$warning-80: #f0c243;
$warning-70: #e0a419;
$warning-65: #d6900d;
$warning-60: #cc8604;
$warning-55: #bd7202;
$warning-50: #b05f04;
$warning-45: #a65503;
$warning-40: #944b03;
$warning-35: #804103;
// -----------------------------------------------------------------------------
// Palette - Magnetic - Severe Warning
// -----------------------------------------------------------------------------
$severe-warning-95: #ffeadb;
$severe-warning-90: #ffd9bf;
$severe-warning-85: #fcc9a7;
$severe-warning-80: #fcb88d;
$severe-warning-70: #fc8d4c;
$severe-warning-65: #f7782f;
$severe-warning-60: #f26722;
$severe-warning-55: #d95a1a;
$severe-warning-50: #c44f14;
$severe-warning-45: #bd410b;
$severe-warning-40: #ad3907;
$severe-warning-35: #942e03;
// -----------------------------------------------------------------------------
// Palette - Magnetic - Accent F
// -----------------------------------------------------------------------------
$accent-f3: #b73000;
// -----------------------------------------------------------------------------
// Palette - Magnetic - Status - Warning
// -----------------------------------------------------------------------------
$yellow-5: #D9B216;
// -----------------------------------------------------------------------------
// Palette - Magnetic - Status - Negative
// -----------------------------------------------------------------------------
$red-7: #e05843;